.header{
    background-color: #7e8fd2;
    display: flex;
    height: 8vh;
    justify-content: flex-end;
    align-items: center;
}

.header a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
}